/*body*/
body {
    background: #f8e8e4;
    font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
    color: #000000;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5em;
/*    width: 895px;*/
    width: 896px;
}

header, nav {
    display: block;
}

header, nav {
    border-radius: 10px;
    box-shadow: 0px 0px 5px #99003d;
    background: #99003d;
    color: #ffffff;
    text-align: center;
}
/*header*/
header {
    background: -moz-linear-gradient(top, #dea0ac, #99003d);
    background: -webkit-gradient(linear, left top, left bottom, from(#dea0ac), to(#99003d));
    background: linear-gradient(top, #dea0ac, #99003d);
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 1.0em;
}

.svwp {
    width: 50px;
    height: 20px;
    background: #fff;
} /*preloader stuff. do not modify!*/
.svwp ul{
    position: relative;
    left: -999em;
}/*preloader stuff. do not modify!*/
.slideViewer {
    position: relative;
    overflow: hidden; 
    margin: 0;
    padding: 0;
/*    background: #fff;*/
    width: 894px;
/*    padding: 30px;*/
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
/*    background: #e1eef5;*/
    background: #99003d;
/*    border-radius: 10px;*/
/*    margin-top: 20px;*/
}
.slideViewer ul {
/*  your list of images*/
    position: relative;
    left: 0;
    top: 0;
    width: 1%;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.slideViewer ul li {
    float:left;
}

/*typographic info*/
/*.slideViewer span.typo{
    padding: 6px;
    background: #fff;
    color: #000;
    font: normal 10px Verdana;
    font-weight: bold;
}*/
.slideViewer span.typo{
    padding: 10px; /* do not modify padding */
    background: #222;
    color: #fff;
    font: normal 12px Verdana;
    font-weight: bold;
}
.thumbSlider {
 /*   the thumbnails slider*/
    overflow: hidden;
    width: 1%;
    background: #fff;
}
.thumbSlider ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.thumbSlider ul li{
    float:left;
    margin: 0;
}
.thumbSlider a{
    color: #fff;
    text-decoration: none;
}
.thumbSlider a img{
    border: 0;
    display: block;
    padding: 0;
}
.thumbSlider p.tmbrdr { /* the border above -not around- each thumb */
/*    width, height and top values are dynamically added by the script. Do not modify. */
    position:relative; 
    left: 0;
    font-size: 0.01em;
    left: 0;
    margin: 0;
    padding: 0;
}

a.left, a.right { /*the left and right buttons (links)*/
    background: transparent; /* could be any color  */
    color: #ff0000;
    font: bold 16px Arial;
    overflow: hidden;
}
a.left span, a.right span{

}
a.left img, a.right img{
    border: 0;
}
a.l_dis, a.r_dis {
    background: transparent; /* ALWAYS leave transparent. this is the 'disabled' state of the link !  */
    cursor: default;
}
a.l_dis span, a.r_dis span {
    visibility: hidden;
}
a:focus {
    outline:none;
}

/*nav*/

